body {
    font-family: sans-serif;
    padding-bottom: 10%;
}

canvas {
    padding-bottom: 7%;
}

.content {
    margin: 2rem 2rem;
    text-align: justify;
    text-decoration: none;
    line-height: 1.25;
    font-size: 20px;
}

nav a.nav-link {
    font-size: 25px;
    margin: 0 2rem;
}

.navbar-brand {
    font-size: 35px;
    margin-right: 4rem;
}

.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
    background-color: #DCDCDC;
}

#table thead, th {
    text-align: center;
}

.not-rnd {
    border-radius: 0px;
}

.dropdown-margins {
    margin: 5px;
}

 #loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-left:200px;
  margin-top:30px;
}